<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mbagrat.kill-process</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>26773271-24BA-4C13-8CC2-49DE48890E61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B229600-6931-4306-A566-5E97D81154D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F44D400-7633-4DF8-8579-CEA894059AB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A661FC4A-4B79-4C19-905A-1B7CCB0C62C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B229600-6931-4306-A566-5E97D81154D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2DE70DA-4E65-40DE-A4AB-A3CB4A6A3232</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Kill All Matching Processes</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7006F1F-53E7-4548-BB35-9397CF57422F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force Kill (SIGKILL)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BA8DFC8-4CA0-4E5B-9247-71F425DCD5E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Graceful Kill (SIGTERM)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F3C9A1B-2D4E-4B8A-9C6F-1E5A8D2B7C04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BA8DFC8-4CA0-4E5B-9247-71F425DCD5E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9106BF4A-CAB5-4561-8970-29904084F55C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B36961-D37F-455F-B9E6-1A202314EE96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93B36961-D37F-455F-B9E6-1A202314EE96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B229600-6931-4306-A566-5E97D81154D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A5CF2E9-BF7E-4B65-A76C-39E2D9F648BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D462858F-97C9-4502-8FF9-ACE92FEB4F5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0286B40E-A1CE-4537-AB77-5CF0E19581B8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A661FC4A-4B79-4C19-905A-1B7CCB0C62C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9106BF4A-CAB5-4561-8970-29904084F55C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3F1A2C4-9D8E-4F7A-B6C5-2E1D0A8B7C3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2DE70DA-4E65-40DE-A4AB-A3CB4A6A3232</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D462858F-97C9-4502-8FF9-ACE92FEB4F5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F3C9A1B-2D4E-4B8A-9C6F-1E5A8D2B7C04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Graceful Kill (SIGTERM)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3F1A2C4-9D8E-4F7A-B6C5-2E1D0A8B7C3F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force Kill (SIGKILL)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6032C3D-94CE-4D18-88A5-BF6D64F0E33E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D462858F-97C9-4502-8FF9-ACE92FEB4F5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7006F1F-53E7-4548-BB35-9397CF57422F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bagrat Mukaelyan</string>
	<key>description</key>
	<string>Find and kill processes by name or port</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kill Process</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh "scripts/kill-by-name.sh" --all --force "$process_name"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2DE70DA-4E65-40DE-A4AB-A3CB4A6A3232</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh "scripts/kill-by-name.sh" --force "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7006F1F-53E7-4548-BB35-9397CF57422F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>26773271-24BA-4C13-8CC2-49DE48890E61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:name_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading . . .</string>
				<key>script</key>
				<string>zsh "scripts/list-processes.sh" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a process name (e.g. java)</string>
				<key>title</key>
				<string>Kill process by name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B229600-6931-4306-A566-5E97D81154D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh "scripts/kill-by-name.sh" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BA8DFC8-4CA0-4E5B-9247-71F425DCD5E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Kill process by name","arg":"nameOfProcess","subtitle":"Enter process name (e.g. java)"},{"title":"Kill process by port","arg":"portOfProcess","subtitle":"Enter port number (e.g. 8080)"}]</string>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Kill by name or port</string>
				<key>title</key>
				<string>Process Killer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A661FC4A-4B79-4C19-905A-1B7CCB0C62C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>nameOfProcess</string>
						<key>outputlabel</key>
						<string>Name Of Process</string>
						<key>uid</key>
						<string>5A5CF2E9-BF7E-4B65-A76C-39E2D9F648BB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>portOfProcess</string>
						<key>outputlabel</key>
						<string>Port Of Process</string>
						<key>uid</key>
						<string>0286B40E-A1CE-4537-AB77-5CF0E19581B8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>93B36961-D37F-455F-B9E6-1A202314EE96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9106BF4A-CAB5-4561-8970-29904084F55C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kill Process</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:port_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading . . .</string>
				<key>script</key>
				<string>zsh "scripts/list-ports.sh" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter port number (e.g. 8080)</string>
				<key>title</key>
				<string>Kill process by port</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D462858F-97C9-4502-8FF9-ACE92FEB4F5B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh "scripts/kill-by-port.sh" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F3C9A1B-2D4E-4B8A-9C6F-1E5A8D2B7C04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2F44D400-7633-4DF8-8579-CEA894059AB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D6032C3D-94CE-4D18-88A5-BF6D64F0E33E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh "scripts/kill-by-port.sh" --force "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3F1A2C4-9D8E-4F7A-B6C5-2E1D0A8B7C3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Pick a mode interactively via the `kill` keyword.

![Mode picker](images/kill.png)

Search running processes by name via the `knop` keyword.

![Searching processes by name](images/knop.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; Graceful kill (SIGTERM).
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Force kill (SIGKILL).
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Kill all matching processes.

Alternatively, search processes listening on a port via the `kpop` keyword.

![Searching processes by port](images/kpop.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; Graceful kill (SIGTERM).
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Force kill (SIGKILL).

Configure the Hotkey for faster triggering of each mode.</string>
	<key>uidata</key>
	<dict>
		<key>26773271-24BA-4C13-8CC2-49DE48890E61</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2F44D400-7633-4DF8-8579-CEA894059AB4</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>412DA50D-682D-4FE7-88D3-A2BC89F29DC9</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>5B229600-6931-4306-A566-5E97D81154D0</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>7F3C9A1B-2D4E-4B8A-9C6F-1E5A8D2B7C04</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>8BA8DFC8-4CA0-4E5B-9247-71F425DCD5E4</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>9106BF4A-CAB5-4561-8970-29904084F55C</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>93B36961-D37F-455F-B9E6-1A202314EE96</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>A661FC4A-4B79-4C19-905A-1B7CCB0C62C0</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>B3F1A2C4-9D8E-4F7A-B6C5-2E1D0A8B7C3F</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>D2DE70DA-4E65-40DE-A4AB-A3CB4A6A3232</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>D462858F-97C9-4502-8FF9-ACE92FEB4F5B</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>D6032C3D-94CE-4D18-88A5-BF6D64F0E33E</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>E7006F1F-53E7-4548-BB35-9397CF57422F</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>kill</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for the interactive mode picker.</string>
			<key>label</key>
			<string>Picker Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>knop</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search processes by name.</string>
			<key>label</key>
			<string>Name Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>name_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>kpop</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search processes by port.</string>
			<key>label</key>
			<string>Port Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>port_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/mbagrat/alfred-kill-process</string>
</dict>
</plist>
